@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>grainIndex - 深圳粮食集团</title>
    <link href="/Content/bootstrap.css" rel="stylesheet" />
    <link href="/Content/site.css" rel="stylesheet" />
    <link href="~/Content/highlight.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-switch.css" rel="stylesheet" />
    <link href="~/Content/main.css" rel="stylesheet" />
    <link href="~/Content/ty.css" rel="stylesheet" />
    <link href="~/Scripts/dist/css/framework7.ios.min.css" rel="stylesheet" />
    <link href="~/Scripts/dist/css/my-app.css" rel="stylesheet" />
    <link href="~/Content/jquery.dataTables.css" rel="stylesheet" />
    <style>
        .item-media {
            min-width: 120px;
     }
    </style>
</head>
<body>
    <!-- First, we need to add Panel's overlay that will overlays app while panel is opened -->
    <div class="panel-overlay"></div>

    <!-- Left panel -->
    <div class="panel panel-left panel-reveal">
        ... panel content goes here ...
    </div>

    <!-- Right panel -->
    <div class="panel panel-right panel-cover">
        ... panel content goes here ...
    </div>

    <div class="views tabs toolbar-through">
        <input type="hidden" id="testid" value="" />
        <div id="view-1" class="view view-main tab active">
          <div class="pages">
            <!--页面一-->
            <div data-page="index-1" class="page">
                <div class="page-content">
                    <p style="text-align:center ;font-size:20px;">仓库选择</p>
                    <!--平方仓-->
                    <div class="col-sm-6 col-md-3" id="click1">
                        <div class="widget widget-stats bg-grey">
                            <div class="stats-icon stats-icon-lg"><i class="fa fa-book fa-fw"></i></div>
                            <div class="stats-title">平方仓</div>
                            @*<div class="stats-title"><a href="#view-7" class="tab-link" style="color: rgba(255, 255, 255, 0.6);">平方仓</a> </div>*@
                            <div class="stats-number" id="temp1" name="temp1"></div>
                            @*<hr>*@
                        </div>
                    </div>
                    <!--筒仓-->
                    <div class="col-sm-6 col-md-3" id="click2">
                        <div class="widget widget-stats bg-grey  yj">
                            <div class="stats-icon stats-icon-lg"><i class="fa fa-book fa-fw"></i></div>
                            <div class="stats-title">筒仓</div>
                            <div class="stats-number" id="temp2" name="temp2"></div>
                            @*<hr>*@
                        </div>
                    </div>
                    <!--平房仓-->
                    <div class="col-sm-6 col-md-3" id="click3">
                        <div class="widget widget-stats bg-grey">
                            <div class="stats-icon stats-icon-lg"><i class="fa fa-book fa-fw"></i></div>
                            <div class="stats-title">平房仓</div>
                            <div class="stats-number" id="temp3" name="temp3"></div>
                            @*<hr>*@
                        </div>
                    </div>
                    <!--气膜仓-->
                    <div class="col-sm-6 col-md-3" id="click4">
                        <div class="widget widget-stats bg-grey">
                            <div class="stats-icon stats-icon-lg"><i class="fa fa-book fa-fw"></i></div>
                            <div class="stats-title">气膜仓</div>
                            <div class="stats-number" id="temp4" name="temp4"></div>
                            @*<hr>*@
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
        <!--页面二-->
        <div id="view-2" class="view tab">
            <div class="pages">
                <div data-page="index-3" class="page">
                    <div class="page-content">
                    <div class="row">
                        <div class="col-md-12">
                            <p>
                                <button type="button" class="btn btn-default btn-lg" id="pf1Temp">平方仓1温度展示</button>
                                <button type="button" class="btn btn-default btn-lg" id="pf2Temp">平方仓2温度展示</button>
                            </p>
                        </div>
                    </div>

                    <!-- <div id="container" style="max-width:600px;max-height: 500px;margin:0 auto"></div> -->
                    <div id="container2" style="width: 100%;height: 400px; min-width: 310px; max-width: 800px; margin: 0 auto">
                    </div>
                    <div class="col-xs-3 " style="float:right;">
                        <a class="btn btn-block btn-lg btn-info" id="detail" onclick="ajaxT();">详细数据</a>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <!--页面三-->
        <div id="view-3" class="view tab">
            <div class="pages">
                <div data-page="index-3" class="page">
                    <div class="page-content">

                        <p style="text-align:center;font-size:20px;">平方仓风扇控制开关：</p>
                        <div align="center"><input id="switch-state" type="checkbox" checked></div>
                        <p style="text-align:center;font-size:20px;">筒仓风扇控制开关：</p>
                        <div align="center"><input id="switch-state" type="checkbox" checked></div>
                        <p style="text-align:center;font-size:20px;">平房仓风扇控制开关：</p>
                        <div align="center"><input id="switch-state" type="checkbox" checked></div>
                        <p style="text-align:center;font-size:20px;">气膜仓风扇控制开关：</p>
                        <div align="center"><input id="switch-state" type="checkbox" checked></div>
                    </div>
                </div>
            </div>
        </div>
        <!--页面四 仓库信息卡-->
        <div id="view-4" class="view tab">
            <div class="pages navbar-fixed">
                <div data-page="index-4" class="page">
                    <div class="page-content">
                        <div style="width:100%"><p style="text-align:center; margin:auto; font-size:20px;">仓库信息<br />（平方仓）</p></div>
                        <div class="content-block">
                            <div class="row">
                                <div class="col-50"><a href="#view-4" data-panel="left" class="button tab-link">平方仓</a></div>
                                <div class="col-50"><a href="#view-6" data-panel="right" class="button tab-link">筒仓</a></div>
                            </div>
                            <div class="row" style="margin-top:4px;">
                                <div class="col-50"><a href="#view-8" data-panel="left" class="button tab-link">平房仓</a></div>
                                <div class="col-50"><a href="#view-9" data-panel="right" class="button tab-link">气膜仓</a></div>
                            </div>
                        </div>
                        <div class="list-block">
                            <ul>
                                <li>
                                    <div class="item-content">
                                        <div class="item-media">仓库名：</div>
                                        <div class="item-inner">
                                            <div class="item-title label">Name</div>
                                            <div class="item-input" id="warehouseName_1">
                                        </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-content">
                                        <div class="item-media">保管员：</div>
                                        <div class="item-inner">
                                            <div class="item-title label">E-mail</div>
                                            <div class="item-input" id="guardianName_1">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-content">
                                        <div class="item-media">仓库类型：</div>
                                        <div class="item-inner">
                                            <div class="item-title label">URL</div>
                                            <div class="item-input" id="warehouseType_1">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-content">
                                        <div class="item-media">仓库内容：</div>
                                        <div class="item-inner">
                                            <div class="item-title label">Password</div>
                                            <div class="item-input" id="content_1">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-content">
                                        <div class="item-media">产地：</div>
                                        <div class="item-inner">
                                            <div class="item-title label">Phone</div>
                                            <div class="item-input" id="productplace_1">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-content">
                                        <div class="item-media">粮仓收货时间：</div>
                                        <div class="item-inner">
                                            <div class="item-title label">Gender</div>
                                            <div class="item-input" id="receiveDate_1">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-content">
                                        <div class="item-media">粮仓入库时间：</div>
                                        <div class="item-inner">
                                            <div class="item-title label">Birth date</div>
                                            <div class="item-input" id="inputdate_1">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-content">
                                        <div class="item-media">存储类型：</div>
                                        <div class="item-inner">
                                            <div class="item-title label">Switch</div>
                                            <div class="item-input" id="inputType_1">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-content">
                                        <div class="item-media">入仓粮食水分：</div>
                                        <div class="item-inner">
                                            <div class="item-title label">Slider</div>
                                            <div class="item-input" id="moisture_1">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-content">
                                        <div class="item-media">不完善粒：</div>
                                        <div class="item-inner">
                                            <div class="item-title label">Slider</div>
                                            <div class="item-input" id="incomplete_1">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-content">
                                        <div class="item-media">仓库等级：</div>
                                        <div class="item-inner">
                                            <div class="item-title label">Slider</div>
                                            <div class="item-input" id="warehouseLevel_1">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-content">
                                        <div class="item-media">容量：</div>
                                        <div class="item-inner">
                                            <div class="item-title label">Slider</div>
                                            <div class="item-input" id="capacity_1">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-content">
                                        <div class="item-media">杂质：</div>
                                        <div class="item-inner">
                                            <div class="item-title label">Slider</div>
                                            <div class="item-input" id="impurity_1">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--页面五 温度变化情况 折线图-->
        <div id="view-5" class="view tab">
            <p style="text-align:center ;font-size:20px;">详细温度情况</p>
            <div id="tableAjax" style="width: 100%;height: 400px; min-width: 310px; max-width: 800px; margin: 0 auto"></div>
            <div class="col-xs-3 " style="float:right;">
                <a class="btn btn-block btn-lg btn-info" id="ret">返回</a>
            </div>
            @*<table id="example" class="display" cellspacing="0" style="width: 100%;">
                <thead>
                    <tr>
                        <th rowspan="1" colspan="9" class="tablehead" style="width: 100%;text-align:center">Name</th>
                    </tr>
                    <tr>
                        <th colspan="3" class="tablehead" style="width: 33%;" >第一层</th>
                        <th colspan="3" class="tablehead"style="width: 33%;">第二层</th>
                        <th colspan="3" class="tablehead" style="width: 33%;">第三层</th>
                    </tr>
                    <tr>
                        <td>temp1</td>
                        <td>temp2</td>
                        <td>temp3</td>
                        <td>temp4</td>
                        <td>temp5</td>
                        <td>temp6</td>
                        <td>temp7</td>
                        <td>temp8</td>
                        <td>temp9</td>
                    </tr>
                </thead>
                <tbody>

                </tbody>
                </table>*@
        </div>
        <!--页面六 仓库信息卡-->
        <div id="view-6" class="view tab">
            <div class="pages navbar-fixed">
                <div data-page="index-4" class="page">
                    <div class="page-content">
                        <div style="width:100%"><p style="text-align:center; margin:auto; font-size:20px;">仓库信息<br />（筒仓）</p></div>
                        <div class="content-block">
                            <div class="row">
                                <div class="col-50"><a href="#view-4" data-panel="left" class="button tab-link">平方仓</a></div>
                                <div class="col-50"><a href="#view-6" data-panel="right" class="button tab-link">筒仓</a></div>
                            </div>
                            <div class="row" style="margin-top:4px;">
                                <div class="col-50"><a href="#view-8" data-panel="left" class="button tab-link">平房仓</a></div>
                                <div class="col-50"><a href="#view-9" data-panel="right" class="button tab-link">气膜仓</a></div>
                            </div>
                        </div>
                        <div class="list-block">
                            <ul>
                                <li>
                                    <div class="item-content">
                                        <div class="item-media">仓库名：</div>
                                        <div class="item-inner">
                                            <div class="item-title label">Name</div>
                                            <div class="item-input" id="warehouseName_2">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-content">
                                        <div class="item-media">保管员：</div>
                                        <div class="item-inner">
                                            <div class="item-title label">E-mail</div>
                                            <div class="item-input" id="guardianName_2">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-content">
                                        <div class="item-media">仓库类型：</div>
                                        <div class="item-inner">
                                            <div class="item-title label">URL</div>
                                            <div class="item-input" id="warehouseType_2">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-content">
                                        <div class="item-media">仓库内容：</div>
                                        <div class="item-inner">
                                            <div class="item-title label">Password</div>
                                            <div class="item-input" id="content_2">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-content">
                                        <div class="item-media">产地：</div>
                                        <div class="item-inner">
                                            <div class="item-title label">Phone</div>
                                            <div class="item-input" id="productplace_2">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-content">
                                        <div class="item-media">粮仓收货时间：</div>
                                        <div class="item-inner">
                                            <div class="item-title label">Gender</div>
                                            <div class="item-input" id="receiveDate_2">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-content">
                                        <div class="item-media">粮仓入库时间：</div>
                                        <div class="item-inner">
                                            <div class="item-title label">Birth date</div>
                                            <div class="item-input" id="inputdate_2">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-content">
                                        <div class="item-media">存储类型：</div>
                                        <div class="item-inner">
                                            <div class="item-title label">Switch</div>
                                            <div class="item-input" id="inputType_2">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-content">
                                        <div class="item-media">入仓粮食水分：</div>
                                        <div class="item-inner">
                                            <div class="item-title label">Slider</div>
                                            <div class="item-input" id="moisture_2">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-content">
                                        <div class="item-media">不完善粒：</div>
                                        <div class="item-inner">
                                            <div class="item-title label">Slider</div>
                                            <div class="item-input" id="incomplete_2">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-content">
                                        <div class="item-media">仓库等级：</div>
                                        <div class="item-inner">
                                            <div class="item-title label">Slider</div>
                                            <div class="item-input" id="warehouseLevel_2">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-content">
                                        <div class="item-media">容量：</div>
                                        <div class="item-inner">
                                            <div class="item-title label">Slider</div>
                                            <div class="item-input" id="capacity_2">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-content">
                                        <div class="item-media">杂质：</div>
                                        <div class="item-inner">
                                            <div class="item-title label">Slider</div>
                                            <div class="item-input" id="impurity_2">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--页面七-->
        <div id="view-7" class="view tab">
            <p style="text-align:center ;font-size:20px;">平方仓温度展示</p>
            <div class="left sliding">
                <a href="#view-1" class="tab-link">
                    <i class="icon icon-back"></i><span>返回仓库选择</span>
                </a>
            </div>

        </div>
        <!--页面八 仓库信息卡-->
        <div id="view-8" class="view tab">
            <div class="pages navbar-fixed">
                <div data-page="index-4" class="page">
                    <div class="page-content">
                        <div style="width:100%"><p style="text-align:center; margin:auto; font-size:20px;">仓库信息<br />（平方仓）</p></div>
                        <div class="content-block">
                            <div class="row">
                                <div class="col-50"><a href="#view-4" data-panel="left" class="button tab-link">平方仓</a></div>
                                <div class="col-50"><a href="#view-6" data-panel="right" class="button tab-link">筒仓</a></div>
                            </div>
                            <div class="row" style="margin-top:4px;">
                                <div class="col-50"><a href="#view-8" data-panel="left" class="button tab-link">平房仓</a></div>
                                <div class="col-50"><a href="#view-9" data-panel="right" class="button tab-link">气膜仓</a></div>
                            </div>
                        </div>
                        <div class="list-block">
                            <ul>
                                <li>
                                    <div class="item-content">
                                        <div class="item-media">仓库名：</div>
                                        <div class="item-inner">
                                            <div class="item-title label">Name</div>
                                            <div class="item-input" id="warehouseName_3">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-content">
                                        <div class="item-media">保管员：</div>
                                        <div class="item-inner">
                                            <div class="item-title label">E-mail</div>
                                            <div class="item-input" id="guardianName_3">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-content">
                                        <div class="item-media">仓库类型：</div>
                                        <div class="item-inner">
                                            <div class="item-title label">URL</div>
                                            <div class="item-input" id="warehouseType_3">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-content">
                                        <div class="item-media">仓库内容：</div>
                                        <div class="item-inner">
                                            <div class="item-title label">Password</div>
                                            <div class="item-input" id="content_3">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-content">
                                        <div class="item-media">产地：</div>
                                        <div class="item-inner">
                                            <div class="item-title label">Phone</div>
                                            <div class="item-input" id="productplace_3">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-content">
                                        <div class="item-media">粮仓收货时间：</div>
                                        <div class="item-inner">
                                            <div class="item-title label">Gender</div>
                                            <div class="item-input" id="receiveDate_3">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-content">
                                        <div class="item-media">粮仓入库时间：</div>
                                        <div class="item-inner">
                                            <div class="item-title label">Birth date</div>
                                            <div class="item-input" id="inputdate_3">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-content">
                                        <div class="item-media">存储类型：</div>
                                        <div class="item-inner">
                                            <div class="item-title label">Switch</div>
                                            <div class="item-input" id="inputType_3">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-content">
                                        <div class="item-media">入仓粮食水分：</div>
                                        <div class="item-inner">
                                            <div class="item-title label">Slider</div>
                                            <div class="item-input" id="moisture_3">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-content">
                                        <div class="item-media">不完善粒：</div>
                                        <div class="item-inner">
                                            <div class="item-title label">Slider</div>
                                            <div class="item-input" id="incomplete_3">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-content">
                                        <div class="item-media">仓库等级：</div>
                                        <div class="item-inner">
                                            <div class="item-title label">Slider</div>
                                            <div class="item-input" id="warehouseLevel_3">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-content">
                                        <div class="item-media">容量：</div>
                                        <div class="item-inner">
                                            <div class="item-title label">Slider</div>
                                            <div class="item-input" id="capacity_3">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-content">
                                        <div class="item-media">杂质：</div>
                                        <div class="item-inner">
                                            <div class="item-title label">Slider</div>
                                            <div class="item-input" id="impurity_3">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--页面九 仓库信息卡-->
        <div id="view-9" class="view tab">
            <div class="pages navbar-fixed">
                <div data-page="index-4" class="page">
                    <div class="page-content">
                        <div style="width:100%"><p style="text-align:center; margin:auto; font-size:20px;">仓库信息<br />（平方仓）</p></div>
                        <div class="content-block">
                            <div class="row">
                                <div class="col-50"><a href="#view-4" data-panel="left" class="button tab-link">平方仓</a></div>
                                <div class="col-50"><a href="#view-6" data-panel="right" class="button tab-link">筒仓</a></div>
                            </div>
                            <div class="row" style="margin-top:4px;">
                                <div class="col-50"><a href="#view-8" data-panel="left" class="button tab-link">平房仓</a></div>
                                <div class="col-50"><a href="#view-9" data-panel="right" class="button tab-link">气膜仓</a></div>
                            </div>
                        </div>
                        <div class="list-block">
                            <ul>
                                <li>
                                    <div class="item-content">
                                        <div class="item-media">仓库名：</div>
                                        <div class="item-inner">
                                            <div class="item-title label">Name</div>
                                            <div class="item-input" id="warehouseName_4">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-content">
                                        <div class="item-media">保管员：</div>
                                        <div class="item-inner">
                                            <div class="item-title label">E-mail</div>
                                            <div class="item-input" id="guardianName_4">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-content">
                                        <div class="item-media">仓库类型：</div>
                                        <div class="item-inner">
                                            <div class="item-title label">URL</div>
                                            <div class="item-input" id="warehouseType_4">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-content">
                                        <div class="item-media">仓库内容：</div>
                                        <div class="item-inner">
                                            <div class="item-title label">Password</div>
                                            <div class="item-input" id="content_4">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-content">
                                        <div class="item-media">产地：</div>
                                        <div class="item-inner">
                                            <div class="item-title label">Phone</div>
                                            <div class="item-input" id="productplace_4">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-content">
                                        <div class="item-media">粮仓收货时间：</div>
                                        <div class="item-inner">
                                            <div class="item-title label">Gender</div>
                                            <div class="item-input" id="receiveDate_4">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-content">
                                        <div class="item-media">粮仓入库时间：</div>
                                        <div class="item-inner">
                                            <div class="item-title label">Birth date</div>
                                            <div class="item-input" id="inputdate_4">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-content">
                                        <div class="item-media">存储类型：</div>
                                        <div class="item-inner">
                                            <div class="item-title label">Switch</div>
                                            <div class="item-input" id="inputType_4">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-content">
                                        <div class="item-media">入仓粮食水分：</div>
                                        <div class="item-inner">
                                            <div class="item-title label">Slider</div>
                                            <div class="item-input" id="moisture_4">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-content">
                                        <div class="item-media">不完善粒：</div>
                                        <div class="item-inner">
                                            <div class="item-title label">Slider</div>
                                            <div class="item-input" id="incomplete_4">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-content">
                                        <div class="item-media">仓库等级：</div>
                                        <div class="item-inner">
                                            <div class="item-title label">Slider</div>
                                            <div class="item-input" id="warehouseLevel_4">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-content">
                                        <div class="item-media">容量：</div>
                                        <div class="item-inner">
                                            <div class="item-title label">Slider</div>
                                            <div class="item-input" id="capacity_4">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-content">
                                        <div class="item-media">杂质：</div>
                                        <div class="item-inner">
                                            <div class="item-title label">Slider</div>
                                            <div class="item-input" id="impurity_4">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 底部导航标签-->
        <div class="toolbar tabbar tabbar-labels">
            <div class="toolbar-inner">
                <a href="#view-1" class="tab-link active"><img src="~/Scripts/dist/img/warehouse_40px_573203_easyicon.net.png" /><span class="tabbar-label">仓库</span></a>
                <a href="#view-2" class="tab-link"><img src="~/Scripts/dist/img/thermometer48_编辑.png" /><span class="tabbar-label">测温</span></a>
                <a href="#view-3" class="tab-link"><img src="~/Scripts/dist/img/风扇.png" /><span class="tabbar-label">通风</span></a>
                <a href="#view-4" class="tab-link"><img src="~/Scripts/dist/img/QQ截图20161029153455.png" /><span class="tabbar-label">记录</span></a>
                <!-- <a href="#view-5" class="tab-link" ><img src="~/Scripts/dist/img/返回.png" /><span class="tabbar-label">记录</span></a> -->
            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/dist/js/framework7.min.js"></script>
    <script src="~/Scripts/highcharts.js"></script>
    <script src="~/Scripts/highcharts-3d.js"></script>
    <script src="~/Scripts/heatmap.js"></script>
    <script src="~/Scripts/highlight.js"></script>
    <script src="~/Scripts/bootstrap-switch.js"></script>
    <script src="~/Scripts/jquery.dataTables.js"></script>
    <script src="~/Scripts/main.js"></script>
    <script src="~/Scripts/dist/js/my-app.js"></script>
    <script src="~/Scripts/dist/js/page/page2.js"></script>
    <script src="~/Scripts/dist/js/page/page5.js"></script>
    <script src="~/Scripts/dist/js/page/page-other.js"></script>
</body>
</html>
