
.bg-alarm{
  background: #d94e59
}
.bg-worn{
  background: #ff5a5a;
}
.bg-bad{
  background: #dedede;
}
.disableClick{
  pointer-events: none;
}
.q-data-table table thead tr th {
    line-height: 16px;
}
.q-data-table table tr button.handle{
  min-height: 0;
}