
.bg-alarm{
  /*background: #d94e59;*/
  background: #f70808;
}
.bg-worn{
  /*background: #ff5a5a;*/
  background: #d6905d;
}
.bg-bad{
  /*background: #dedede;*/
  background: #c3bcbc;
}
.disableClick{
  pointer-events: none;
}
.q-data-table table thead tr th {
    line-height: 16px;
}
.q-data-table table tr button.handle{
  min-height: 0;
  padding: 0 5px;
}