@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1 style="text-align:center;font-size:30px;">深粮集团</h1>
    <p class="lead" style="text-align:center;font-size:20px;">粮仓温度展示系统</p>
</div>